<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <main>

        {% for id, article in articles %}
            <article class="article">
                <h1>{{ article.title }}</h1>
                <p class="content">{{ article.content }}</p>
                <img class="image" src="{{ article.image }}" alt="">
                <a href="{{ path('single_article', {'id': id}) }}">Voir plus</a>
            </article>
        {% endfor %}



    </main>
</body>
</html>